<div class="back">
    <div class="n card">
        <h3>新規投稿</h3>
        <%= form_for @test do |f| %>
            <div class="field">
                <%= f.label :image %>
                <%= f.file_field :image %>
            </div>
            
            <div class="field">
                <%= f.label :body %>
                <%= f.text_field :body %>
            </div>
        <%= f.submit "投稿する" %>
        <% end %>
        <%= link_to "投稿一覧に戻る", tests_path %>
    </div>
</div>