
<h3>投稿詳細</h3>
<div class="card show" style="width: 40rem; height: 30rem">
  <p> User: <a href="/users/<%= @test.user.id %>"><%= @test.user.name %></a></p>
  <p class="card-img-top"><%= image_tag @test.image_url, size: "400x200" if @test.image?%></p>

  <div class="card-body">
  <p class="card-text">内容: <%= @test.body %></p>
  

    <% if user_signed_in? %>
          <% if current_user.already_liked?(@test) %>
              <%= link_to test_like_path(@test), method: :delete do %>
                <i class="fas fa-heart"></i><%= @test.likes.count %>
              <% end %>
          <% else %>
              <%= link_to test_likes_path(@test), method: :post do %>
                <i class="far fa-heart"></i><%= @test.likes.count %>
              <% end %>
          <% end %>
    <% else %>
      <i class="far fa-heart"></i><%= @test.likes.count %>
    <% end %>
  </div>
</div>
<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div class="comment">
      <i class="far fa-user-circle"></i><a href="/users/<%= c.user.id %>"><%= c.user.name unless c.user.blank? %></a>
      <i class="far fa-calender-alt"></i><%= c.created_at %>
      <br>
      <%= c.content %>
      <%= link_to '削除', test_comment_path(@test, c), data: {confirm: '本当に削除しますか？'}, method: :delete %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@test, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
<h2>いいねしたユーザー</h2>
<% @test.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>
<%= link_to "編集する", edit_test_path(@test.id) %>
<%= link_to "投稿一覧に戻る", tests_path %>
